<clr-main-container>
  <header class="header-6">
    <div class="branding">
        <a href="..." class="nav-link">
            <clr-icon shape="line-chart"></clr-icon>
            <span class="title">Monitoring Dashboard</span>
        </a>
    </div>
</header>
    <table class="table">
      <thead>
        <tr>
          <th rowspan="2">hostname</th>
          <th rowspan="2">pipeline name</th>
          <th rowspan="2">status</th>
          <th colspan="2">에러건수</th>
          <th colspan="4">정상처리건수</th>
          <th rowspan="2">JVM</th>
          <th rowspan="2">명령</th>
        </tr>
        <tr>
          <th>5분</th><th>24시간</th><th>1분</th><th>5분</th><th>1시간</th><th>24시간</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pipeline of pipelines">
            <td>{{pipeline.host}}</td>
            <td>{{pipeline.title}}</td>
            <td>{{pipeline.status}}</td>
            <td><span *ngIf="pipeline.metrics">{{pipeline.metrics.errorCount['1m']}}</span></td>
            <td><span *ngIf="pipeline.metrics">{{pipeline.metrics.errorCount['24h']}}</span></td>
            <td><span *ngIf="pipeline.metrics">{{pipeline.metrics.recordCount['1m']}}</span></td>
            <td><span *ngIf="pipeline.metrics">{{pipeline.metrics.recordCount['5m']}}</span></td>
            <td><span *ngIf="pipeline.metrics">{{pipeline.metrics.recordCount['1h']}}</span></td>
            <td><span *ngIf="pipeline.metrics">{{pipeline.metrics.recordCount['24h']}}</span></td>
            <td><span *ngIf="pipeline.metrics">{{pipeline.metrics.jvm['heapUsed']}}</span></td>
            <td><button>start</button><button>stop</button></td>
        </tr>
      </tbody>
    </table>
</clr-main-container>
