<clr-main-container>
  <header class="header-6">
    <div class="branding">
        <a href="..." class="nav-link">
            <clr-icon shape="line-chart"></clr-icon>
            <span class="title">Monitoring Dashboard</span>
        </a>
    </div>
  </header>
  <clr-datagrid>
    <clr-dg-column [clrDgField]="'hostname'">Host</clr-dg-column>
    <clr-dg-column [clrDgField]="'title'">Pipeline Name</clr-dg-column>
    <clr-dg-column [clrDgField]="'status'">Status</clr-dg-column>
    <clr-dg-column>Total Count</clr-dg-column>
    <clr-dg-column>Error Count</clr-dg-column>
    <!--<clr-dg-column>Error Rate<br />(1m / 5m / 1h / 24h)</clr-dg-column>-->
    <clr-dg-column>Record Rate<br />(1m / 5m / 1h / 24h)</clr-dg-column>
    <clr-dg-column>JVM</clr-dg-column>
    <clr-dg-row *clrDgItems="let pipeline of pipelines">
      <clr-dg-cell><a href="http://{{pipeline.host}}:18630" target="_blank">{{pipeline.host}}</a></clr-dg-cell>
      <clr-dg-cell><a href="http://{{pipeline.host}}:18630/collector/pipeline/{{pipeline.pipelineId}}" target="_blank">{{pipeline.title}}</a></clr-dg-cell>
      <clr-dg-cell><span class="status{{pipeline.warningStatus()?' warning':''}}{{pipeline.notingStatus()?' noting':''}}">{{pipeline.getStatusString()}}</span></clr-dg-cell>
      <clr-dg-cell><span *ngIf="pipeline.metrics">
        {{pipeline.metrics.counter['input']}} / {{pipeline.metrics.counter['output']}}
        </span></clr-dg-cell>
      <clr-dg-cell><span *ngIf="pipeline.metrics">
        <span class="metric{{pipeline.metrics.counter['error'] > 0?' warn':'' }}">
          {{pipeline.metrics.counter['error']}}
        </span>
      </span></clr-dg-cell>
      <!--<clr-dg-cell><span *ngIf="pipeline.metrics">-->
        <!--<span class="metric{{pipeline.metrics.errorRate['1m'] > 0?' warn':'' }}">{{pipeline.metrics.errorRate['1m']}}</span> /-->
        <!--<span class="metric{{pipeline.metrics.errorRate['5m'] > 0?' warn':'' }}">{{pipeline.metrics.errorRate['5m']}}</span> /-->
        <!--<span class="metric{{pipeline.metrics.errorRate['1h'] > 0?' warn':'' }}">{{pipeline.metrics.errorRate['1h']}}</span> /-->
        <!--<span class="metric{{pipeline.metrics.errorRate['24h'] > 0?' warn':'' }}">{{pipeline.metrics.errorRate['24h']}}</span>-->
      <!--</span></clr-dg-cell>-->
      <clr-dg-cell><span *ngIf="pipeline.metrics">
        {{pipeline.metrics.recordRate['1m']}} /
        {{pipeline.metrics.recordRate['5m']}} /
        {{pipeline.metrics.recordRate['1h']}} /
        {{pipeline.metrics.recordRate['24h']}}
      </span></clr-dg-cell>
      <clr-dg-cell><span *ngIf="pipeline.metrics">{{pipeline.metrics.jvm['heapUsed']}}</span></clr-dg-cell>
      <clr-dg-row-detail *clrIfExpanded>
        <pipeline-command [pipeline]="pipeline"></pipeline-command>
      </clr-dg-row-detail>
    </clr-dg-row>
    <clr-dg-footer>끝</clr-dg-footer>
  </clr-datagrid>
</clr-main-container>
