.status, .metric {
  padding: 5px;
  padding: 5px;
  border-radius: 10px;
}

.metric{
  padding: 3px;
  padding: 3px;
  border-radius: 5px;
}

.warning {
  /*-webkit-animation-duration: 5s;*/
  /*-webkit-animation-name: warn-animation;*/
  /*-webkit-animation-iteration-count: infinite;*/
  background-color: #f00;
  color: #fff;
}

.noting {
  background-color: #0f0;
  color: #000;
}
